*.bundle.*
lib/
node_modules/
static/
*.egg-info/
.ipynb_checkpoints
*.tsbuildinfo
SIMPLIFICATION_ANALYSIS.md
jupyterlab_custom_theme/_version.py
__pycache__/
*.pyc
package-lock.json
.yarn/
jupyterlab_custom_theme/labextension/
.eslintcache
.stylelintcache
